<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>887163660022-4tjck6s4e9jmpipsliviet59h268nfuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887163660022-4tjck6s4e9jmpipsliviet59h268nfuj</string>
	<key>API_KEY</key>
	<string>AIzaSyAbfxQzO9P-8yO6X7DtpE2JH8_A53xr5N4</string>
	<key>GCM_SENDER_ID</key>
	<string>887163660022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.villeapp</string>
	<key>PROJECT_ID</key>
	<string>villeapp-623f9</string>
	<key>STORAGE_BUCKET</key>
	<string>villeapp-623f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887163660022:ios:7cea8a9281bc1328</string>
	<key>DATABASE_URL</key>
	<string>https://villeapp-623f9.firebaseio.com</string>
</dict>
</plist>